@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: url(the-avengers.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    background-color: rgb(20, 20, 20);
    height: 50px;
}

ul {
    float: right;
    margin: 0 auto;
}

li {
    display: inline-block;
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    text-transform: uppercase;
    display: block;
    padding: 10px;
}

main {
    position: relative;
}

h1 {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 70px;
    position: absolute;
    top: 
}