@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-image: url(the-avengers.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

img {
  float: left;
  margin: 15px 45px;
  height: 35px;
  width: 50px;
}

nav {
  position: relative;
  background-color: rgb(20, 20, 20);
  height: 75px;
  overflow: hidden;
}

li {
  display: inline-block;
  /* margin-right: 50px; */
}

#imgDiv{
  width: 50vw;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-size: 20px;
  text-transform: uppercase;
  display: block;
  padding: 25px;
}

main {
    display: flex;
    align-items: left;
    flex-direction: column;
}

h1 {
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 70px;
  text-align: left;
  margin-top: 300px;
  margin-left: 50px;
}

#info {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  width: 25%;
  margin-top: 10px;
  margin-left: 50px;
}

#navDiv{
  position:absolute;
  right: 15px;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  nav {
    background-color: red;
  }

  a {
    color: white;
  }

  main {
    position: relative;
  }
  
  h1 {
  position: absolute;
  right: 10px;
}

#info {
  position: absolute;
  left: 10px;
}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 25px;
  }
  
  nav {
    background-color: lightgreen;
  }

  a {
    color: black;
  }

}

@media screen and (min-width: 600px) and (max-width: 768px) {
  h1 {
    font-size: 35px;
  }

  nav {
    background-color: yellow;
  }

  a {
    color: black;
  }
}