{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <ul class="nav bg-info">
          <li class="nav-item">
            <a class="nav-link link-light" href="/homepage">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/add_film">New Film</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/add_director">New Director</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/admin">Login</a>
          </li>
        </ul>
    </div>
        {% block content %}

        {% endblock %}
    <footer class="footer mt-auto py-3 bg-info">
        <div class="container text-center">
            <span class="text-muted">Your footer content goes here</span>
        </div>
    </footer>
</body>
</html>