<div class="container">
    <ul class="nav bg-info">
      <!-- {% if user.is_superuser %} -->
      <!-- {% endif %} -->

      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'homepage' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/films/add_film">Add Film</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/films/add_director">Add Director</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/films/manage_producers">Add Producer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/films/add_review">Add Review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/accounts/profile">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link link-light" href="/accounts/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/accounts/signup">Sign Up</a>
      </li>
      {% endif %}
    </ul>
</div>