<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if person %}
        <h1>Person Detail</h1>
        <p>Name: {{ person.name }}</p>
        <p>Email: {{ person.email }}</p>
        <p>Phone Number: {{ person.phone_number }}</p>
        <p>Address: {{ person.address }}</p>
    {% else %}
        <h1>No person found with the provided phone number.</h1>
    {% endif %}
</body>
</html>