<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    {% block title %}
        Search by name or phone number
    {% endblock title %}

    {% block content %}
    <form method="POST">
        {% csrf_token %}
        <!-- {% if query %}
            {{ form }}
            <input type="hidden" name="query" value="{{ query }}">
        {% else %}
            {{ form }}
            <input type="text" name="query" placeholder="Enter name or phone number">
        {% endif %} -->
        <label>
            <input type="text" name="search" placeholder="Search">
        </label>
        <button type="submit">Search</button>
    </form>
    {% endblock content %}
</body>
</html>