<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Rental Details</h1>
    <h2>Customer Details:</h2>
    <p>Name: {{ customer.first_name }}</p>
    <p>Last Name: {{ customer.last_name }}</p>

    <h2>Vehicle Details:</h2>
    <p>Type: {{ vehicle.vehicle_type }}</p>
    <p>Size: {{ vehicle.vehicle_size }}</p>

    <h2>Rental Details:</h2>
    <p>Status: {{ status }}</p>
</body>
</html>