@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(4k-2695569_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2 {
    font-family: 'Montserrat';
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}