{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>
    My Films:
</h1>
<hr>
{% for film in films %}
        <h3>{{ film.title }}</h3> directed by
        {% for director in film.director.all %}
            {{ director.first_name }} {{ director.last_name }}
        {% endfor %}
        <p>Category: 
        {% for category in film.category.all %}
            {{category}}
        {% endfor %}
        </p>
        <p>Review:
            {% for review in film.reviews.all %}
                {{ review.review_text }}
        </p>
        <p> Rating: {{ review.rating }}
            {% endfor %}
        </p>
        <p>Country: {{film.created_in_country}}
        </p>
        <p>Film released on {{film.release_date}}</p>
        <hr>
{% endfor %}
{% block footer %}
{% endblock %}
{% endblock %}