@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    /* height: 70%; */
    width: 90vw;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 225, 225);
    width: 30%;
    /* border: 1px solid red; */
}

#general {
    /* display: grid;
    grid-template-rows: 1fr 2fr 1fr 2fr; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70vw;
    /* border: 1px solid red; */
    padding: 2em;
    line-height: 1.5em;
}

h1 {
    font-family: 'Roboto';
    font-size: 1.5rem;
    color: rgb(77, 77, 77);
    text-transform: uppercase;
    text-align: left;
    padding-top: 1em;
}

h3 {
    font-family: 'Roboto';
    color: rgb(77, 77, 77);
    text-transform: uppercase;
    font-weight: bold;
}

.picture {
    /* position: absolute;
    top: 0; */
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    margin-top: 5rem;
    /* border: 1px solid red; */
}

img {
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
    border: 1px solid black;
}

.name {
    font-family: 'Roboto';
    font-size: 3.5em;
    color: rgb(77, 77, 77);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}

.profession {
    text-align: center;
    font-size: 1.2rem;
    color: grey;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

.myself {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 100%;
    /* border: 1px solid red; */
}

.contact {
    border: 2px solid grey;
    border-left: none;
    border-right: none;
    height: 10em;
    /* margin-top: 45em; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.link {
    font-family: 'Roboto';
    text-decoration: none;
    color: grey;
    font-size: 1em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.social {
    margin: 1em;
}

a > i {
    font-size: 2em;
    color: rgb(77, 77, 77);
}

p {
    text-align: center;
    font-family: 'Roboto';
    font-size: 1em;
    font-weight: bold;
    color: grey;
    justify-content: space-around; /* ??? */
}

div > p:last-child {
    line-height: 1.5em;
}

.block, .uni, .skills-list {
    text-align: justify;
    /* border-top: 1px solid grey; */
    width: 80%;
}

hr {
    margin: 1em 0;
    width: 80%;
    color: rgb(77, 77, 77);
}

.uni {
    color: rgb(77, 77, 77);
    padding: 1em 0;
}

.skills-list {
    display: flex;
    margin-left: 3em;
    line-height: 1.5;
    /* justify-content: center; */
}

.column {
    width: 50%;
}