<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav>
        <a href="/add_gif">Add new GIF</a>
        <a href="/add_category">Add new Category</a>
    </nav>
    <h1>{{ gif.title }}</h1>
<img src="{{ gif.url }}" alt="{{ gif.title }}">
<p>Likes: {{ gif.likes }}</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" name="increment" class="btn btn-success">Increment</button>
    <button type="submit" name="decrement" class="btn btn-danger">Decrement</button>
  </form>
</form>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>