* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    height: 50px;
}

nav {
    position: relative;
    width: 90vw;
    margin: 0 auto;
}

div {
    display: inline-block;
}

.link {
    position: absolute;
    right: 0;
}

i {
    color: white;
    font-size: 30px;
    margin-top: 10px;
}

a {
    display: block;
    padding: 15px 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}